{% assign collection = collections["featured-collection"] %}

{{ collection.title }}
    <ul>
        {% for product in collection.products %}
            <li>
                <a style="color: {{ settings.link_color }}" href="{{ product.url }}">
                    {{ product.title }} - {{ product.price | money }}
                    {% if product.available != true %}
                        (SOLD OUT)
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

{% schema %}
    {
        "name": "random-collections",
        "class": "",
        "settings": [
        
        ]
    }
{% endschema %}
